<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208190434013-m051nha7s2l0slafrjcf04j89r1nef58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208190434013-m051nha7s2l0slafrjcf04j89r1nef58</string>
	<key>API_KEY</key>
	<string>AIzaSyDNB-HJM8iNOaPc2AX5qXBcSOb-Yx7_v3g</string>
	<key>GCM_SENDER_ID</key>
	<string>208190434013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastiangirsza.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwaitnetflix304</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwaitnetflix304.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208190434013:ios:5ab2cb299450999e6d4934</string>
</dict>
</plist>